body {
  margin: 0;
}
h1 {
  margin: 10px auto 10px auto;
  text-align: center;
}
.info_pole {
  background-color: #e8e6e5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px;
  position: static;
  border: 10px solid #ffffff;
  border-radius: 0;
  width: auto;
  height: auto;
}
.info_pole a {
  padding: 10px 20px;
}
.text {
  background-color: #e8e6e5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px;
  position: static;
  border: 10px solid #ffffff;
  border-radius: 0;
  width: auto;
  height: 200px;
}
.cont {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: static;
  height: auto;
}
.cont p {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e8e6e5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px;
  position: static;
  border: 10px solid #ffffff;
  border-radius: 0;
  width: auto;
  height: 200px;
  float: left;
  width: calc(100% / 3 - 40px);
}
.footer {
  background-color: #e8e6e5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px;
  position: static;
  border: 10px solid #ffffff;
  border-radius: 0;
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.clear {
  clear: both;
}
